.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--gray-100);
  background: var(--blue-dark);
  font-weight: bold;
  font-size: 0.875rem;
  border: 0;
  padding: 16px;
  border-radius: 8px;
  line-height: 1.4;
  cursor: pointer;

  &:hover {
    background: var(--blue);
  }
}
